.mat-mdc-dialog-container {
  .mat-mdc-dialog-surface {
    border-radius: 6px;
  }
  div .mat-dialog-title {
    padding: 14px;
    background-color: #f7f7f9;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    h2 {
      font-size: 18px !important;
      font-family: "Public Sans" !important;
      font-weight: 500 !important;
      display: flex;
      align-items: center;
    }
  }

  .mat-mdc-dialog-content {
    padding: 14px !important;
  }

  .mat-mdc-dialog-actions {
    height: 58px;
    display: flex;
    justify-content: center;
    gap: 4px;
    background-color: #f0f0f0;
    padding: 0px;
  }
}
